.search-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 150px;
  align-items: center;
  animation: leftToRight 1s ease-out;

  h1 {
    font-size: 54px;
    color: #707070;
    margin-bottom: 20px;
  }

  .select-input {
    padding: 15px;
    border-style: none;
    border-radius: 5px;
    height: 55px;
    width: 50%;
    color: #adadad;
    font-size: 20px;
    margin-bottom: 20px;

    &::placeholder {
      color: #adadad;
    }

    &:active,
    &:focus {
      border-style: none;
    }
  }

  button {
    height: 70px;
    width: 270px;
    font-family: 'Roboto';
    font-size: 30px;
    border-radius: 5px;
    background-color: #516e51;
    border: none;
    color: #f4f4f4;
  }
}

@keyframes leftToRight {
  0% {
    opacity: 0;
    transform: translateX(-130px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
