.weather-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  animation: rightToLeft 1s ease-out;
}

@keyframes rightToLeft {
  0% {
    opacity: 0;
    transform: translateX(130px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
