.weather-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  animation: rightToLeft 1s ease-out;

  .header {
    margin-top: 50px;
  }

  .weather-box {
    display: flex;

    .weather-info {
      display: flex;
      flex-direction: column;
      justify-content: center;

      h2 {
        font-size: 32px;
        text-transform: uppercase;
      }

      p {
        font-size: 20px;
      }
    }
  }
}

@keyframes rightToLeft {
  0% {
    opacity: 0;
    transform: translateX(130px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
